*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* font-family: "Helvetica, Arial, sans-serif"; */
	font-family: "Inter", sans-serif;
	min-height: 100dvh;
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 480px) {
}
/* 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 768px) {
}
/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1024px) {
}
/* 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1201px) {
}
